<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http：//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../js/jquery-3.2.1.min.js"></script>
    <SCRIPT src="../js/swiper.min.js"></SCRIPT>
    <script src="../css/layui/layui.js"></script>
    <link rel="stylesheet" href="../js/common.js" type="text/css" />
    <link rel="stylesheet" href="../css/common.css" type="text/css" />

    <link rel="stylesheet" href="../css/layui/css/layui.css" media="all">
    <LINK href="../css/swiper.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet" type="text/css" />

</head>

<body>


    <div class="header">
        <div class="header_a">
            <div class="header_admin"></div>
            <!-- <div class="user"><span><%=session.getAttribute("adminName").toString()%></span></div> -->
        </div>
    </div>

    <div class="header">
        <div class="header_a">
            <div class="header_mp"></div>
            <!-- <div class="user"><span><%=session.getAttribute("mpName").toString()%></span></div> -->
        </div>
    </div>

    <div class="content">
        <div class="vbm">
            <div class="klkl">
                <div class="main">
                    <div id="circle-panel">
                        <div class="layui-card">
                            <!-- <div class="layui-card-header" ></div> -->
                            <div class="layui-card-body">
                                <div class="layui-tab layui-tab-brief" lay-fiter="docDemoTabBrief">
                                    <ul class="layui-tab-title">
                                        <li class="layui-this">贺卡设置</li>
                                        <!--  <li>自定义样式</li>  -->
                                    </ul>
                                    <div class="layui-tab-content" style="display: flex;">
                                        <div class="card-type">
                                            <div class="choice-box"></div>生日贺卡
                                        </div>
                                        <div class="card-type">
                                            <div class="choice-box"></div>节日贺卡
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="example-card">
                        <div class="layui-card">
                            <div class="layui-card-header">界面预览</div>
                            <div class="layui-card-body example"
                                style=' background-image: url("../image/wish_card/card_birth_1.jpg")'>

                                <!-- <div class="btnpic" style="left: 20px;"> 活动规则 </div> 
                             <div class="btnpic" style="right: 20px;"> 中奖记录 </div>  -->
                            </div>
                        </div>
                    </div>
                    <div id="coupon-panel">
                        <div class="layui-card">
                            <div class="layui-card-header">贺卡配置</div>
                            <DIV class="layui-tab-content">
                                <DIV class="layui-tab-item layui-show">
                                    <DIV class="swiper-container">
                                        <DIV class="swiper-wrapper">
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt=""
                                                    src="../image/wish_card/card_birth_1.jpg"></DIV>
                                            <DIV class="swiper-slide pzpic"><IMG alt="" src="home_files/ex_lty9.png">
                                            </DIV>
                                        </DIV><!-- Add Pagination -->
                                        <DIV class="swiper-pagination"></DIV>
                                    </DIV>
                                </DIV>
                            </div>
                            <div class="text-config">
                                <DIV class="layui-card-header">文案配置</DIV>
                                <DIV class="layui-card-body para-card">
                                    <FORM class="layui-form" id="test" lay-filter="main-filter">
                                        <DIV class="layui-form-item"><LABEL class="layui-form-label">贺卡名称<SPAN
                                                    class="red">*</SPAN></LABEL>
                                            <DIV class="layui-input-inline"><INPUT name="ActivityName"
                                                    class="layui-input  mouseover" type="text">
                                            </DIV>
                                        </DIV>
                                        <DIV class="layui-form-item"><LABEL class="layui-form-label">祝福内容<SPAN
                                                    class="red">*</SPAN></LABEL>
                                            <DIV class="layui-input-inline"><TEXTAREA name="ActivityDesc"
                                                    class="layui-textarea  mouseover"
                                                    style="width: 500px; min-height: 60px;" maxlength="50"></TEXTAREA>
                                            </DIV>
                                        </DIV>
                                        <DIV class="layui-form-item"><LABEL class="layui-form-label">落款内容<SPAN
                                                    class="red">*</SPAN></LABEL>
                                            <DIV class="layui-input-inline"><INPUT name="ActivityName"
                                                    class="layui-input  mouseover" type="text">
                                            </DIV>
                                        </DIV>
                                        <DIV class="layui-form-item"><LABEL class="layui-form-label">抽奖次数<SPAN
                                                    class="red">*</SPAN></LABEL>
                                            <DIV class="layui-input-inline"><SELECT name="send-time">
                                                    <OPTION value="1">当日8点</OPTION>
                                                    <OPTION value="2">当日12点</OPTION>
                                                    <OPTION value="3">当日14点</OPTION>
                                                    <OPTION value="4">当日18点</OPTION>
                                                </SELECT> </DIV>
                                        </DIV>
                                        <DIV class="layui-card-header">发送人员信息</DIV>
                                        <DIV class="layui-form layui-col-md6 x-so" style="margin-top: 10px;"><BUTTON
                                                class="layui-btn" onclick="IsDoNext('addStaffOperation')"><I
                                                    class="layui-icon"></I>添加 </BUTTON> <BUTTON class="layui-btn"
                                                lay-filter="downloadStaff" lay-submit="">下载模板
                                            </BUTTON> <BUTTON class="layui-btn" id="uploadStaff" type="button"><I
                                                    class="layui-icon"></I>导入信息 </BUTTON>
                                        </DIV>
                                        <FORM class="layui-form layui-col-md6 x-so" style="margin-top: 10px;"
                                            lay-filter="main-filter">
                                            <DIV class="layui-input-inline" style="display: none;"><INPUT
                                                    name="startTime" class="layui-input" id="start" placeholder="开始日期"
                                                    value=""></DIV>
                                            <DIV class="layui-input-inline" style="display: none;"><INPUT name="endTime"
                                                    class="layui-input" id="end" placeholder="截止日期" value=""></DIV>
                                            <BUTTON class="layui-btn" style="float: right;" type="button"
                                                lay-filter="searchStaff" lay-submit=""><I class="layui-icon"></I>
                                            </BUTTON>
                                            <DIV class="layui-input-inline" style="float: right;"><INPUT
                                                    name="staffName" class="layui-input" type="text" placeholder="搜索名称"
                                                    value="" autocomplete="off"></DIV>
                                        </FORM>
                                        <TABLE class="layui-table" id="staffTable" lay-filter="staffTable"></TABLE>
                                        <DIV class="btngroup">
                                            <BUTTON class="layui-btn" id="btnsave" type="button"
                                                lay-filter="btnsave" lay-submit="">应用配置</BUTTON> <BUTTON
                                                class="layui-btn" id="btnreturn" onclick="returnLast()"
                                                type="button">返回</BUTTON>
                                        </DIV>
                                    </FORM>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer"></div>
            <script src="../js/index.js"></script>
            <script src="../js/common.js"></script>
            <script type="text/html" id="xuhao">
                        {{d.LAY_TABLE_INDEX+1}}
</script>

            <script>

                var swiper = new Swiper('.swiper-container', {
                    direction: 'horizontal',
                    slidesPerView: 'auto',
                    freeMode: true,
                    pagination: '.swiper-pagination',
                    mousewheel: true,
                });
                

                 //表格
        layui.use('table', function () {
            var table = layui.table;
            var form = layui.form;
            //第一个实例
            mytable = table.render({
                id: 'staffTableId'
                , elem: '#staffTable'
                , url: './getMyCard' //获取场景数据
                , method: "post"
                , height: 800
                , cols: [[ //表头
                    { field: 'xuhao', width: '60', title: '序号', templet: '#xuhao', rowspan: 2 }
                    , { field: 'cardName', width: '120', title: '贺卡名称', align: 'center' }
                    , { field: 'cardType', width: '120', title: '贺卡类型', align: 'center' }
                    , { field: 'sendTime', width: '160', title: '发送时间', align: 'center', templet: formatDatetime }
                    , { fixed: 'right', width: '280', title: '操作', align: 'center', toolbar: '#barDemo' }
                ]]
            });
            </script>
</body>

</html>